@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Oswald:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3993DD;
    --secondary-color: #ff7900;
    --accent1-color: #EFEFF0;
    --accent2-color: #102B3F;
    --paragraph-color: #333;
    --heading-font: Oswald, sans-serif;
    --paragraph-font: Montserrat, sans-serif;
    --nav-background-color: var(--accent1-color);
    --nav-link-color: var(--accent2-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent2-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

figcaption, p, header nav a {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
}

header, main, footer {
    width: 72vw;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
}

header img {
    justify-self: center;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    display: block;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    padding: 1rem;
    text-align: center;
    border-right: 1px solid var(--accent2-color);
    text-decoration: none;
}

header nav a:last-child {
    border: none;
}

header nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

header nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    transition: 0.2s;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem 0;
    /* margin-top: 1rem; */
}

footer p {
    color: var(--accent1-color);
    flex-grow: 2;
    text-align: center;
}

/* CSS Class Selectors */
.hero {
    position: relative;
}

.hero p {
    text-align: justify;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 200px;
    margin-left: 1rem;
}

.hero h1, .hero article {
    position: absolute;
}

.hero h1 {
    color: var(--accent1-color);
    width: auto;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
}

.hero article {
    width: 88%;
    background-color: rgba(255, 255, 255, 0.6);
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
}

.history-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    background-color: var(--accent1-color);
    /* margin-top: 1rem; */
}

.history-section img {
    width: 320px;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.history-section div {
    display: flex;
    flex-flow: column nowrap;
    order: 1;
    text-align: center;
    margin: 0 2rem;
}

.history-section p {
    text-align: justify;
}

.history-section div + p {
    order: 0;
}

.history-section div + p + p {
    order: 2;
}

.adventures {
    padding: 1rem 0.5rem;
    background-color: var(--accent1-color);
    /* margin-top: 1rem; */
}

.adventures h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.adventures-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.adventures-gallery figcaption {
    font-family: var(--paragraph-font), sans-serif;
    text-align: center;
}

.adventures-gallery img {
    width: 100%;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    margin-right: 8px;
}

.social-links img {
    width: 32px;
}

/* Contact Page */
#wwr-contact, #wwr-employees {
    background-color: var(--accent1-color);
}

#wwr-contact, #wwr-employees, #wwr-contact-form {
    padding: 1rem;
}

#wwr-contact h1 {
    text-align: center;
}
.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    align-items: end;
    justify-content: center;
}

.contact-info .contact-info-details {
    order: 0;
}

.contact-info .contact-info-intro {
    align-self: center;
    order: 1;
    text-align: center;
}

.contact-info .contact-info-map {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    order: 2;
}

.contact-info .contact-info-map h2 {
    width: 96%;
    text-align: center;
}

.contact-info .contact-info-map iframe {
    width: 96%;
    height: 200px;
}

.contact-info .contact-info-details img {
    width: 24px;
    margin-right: 8px;
}

.contact-info .contact-info-details .info-group {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-top: 1rem;
}

#wwr-employees {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    align-items: end;
    justify-content: space-between;
}

#wwr-employees h2 {
    text-align: center;
    grid-column: 1 / 5;
    margin-bottom: 2rem;
}

#wwr-employees figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wwr-employees figure img {
    max-width: 176px;
    border-radius: 100%;
}

#wwr-employees figure figcaption {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

#wwr-contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/rafting-adventure.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#wwr-contact-form form {
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(239, 239, 240, 0.6);
    padding: 2rem;
}

#wwr-contact-form .form-header {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(239, 239, 240, 0.6);
    padding: 0.4rem;
    margin-bottom: 1rem;
}

#wwr-contact-form .form-header img {
    width: 40px;
    margin-left: 8px;
}

#wwr-contact-form .form-group {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

#wwr-contact-form .form-group input[type="checkbox"],
#wwr-contact-form .form-group input[type="radio"],
#wwr-contact-form .form-group input[type="radio"] + label,
#wwr-contact-form .form-group input[type="checkbox"] + label {
    display: inline;
    font-weight: 600;
    width: fit-content;
    font-size: 0.7rem;
}

#wwr-contact-form .form-group input[type="checkbox"] + label {
    font-size: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
}

#wwr-contact-form .purpose-options {
    display: flex;
    align-items: center;
}

#wwr-contact-form .purpose-options .form-input {
    display: flex;
    align-items: center;
    margin-right: 0.8rem;
}

#wwr-contact-form .purpose-options .form-input label {
    margin: 0;
    margin-left: 0.2rem;
}

.form-group p,
.form-group input,
.form-group label,
.form-group textarea {
    display: block;
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    font-weight: 700 ;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.2rem;
    outline: 0;
    border: 0;
    border-radius: 4px;
    border: 1px solid var(--accent2-color);
}

.form-group textarea {
    max-width: 100%;
}

#wwr-contact-form form button {
    min-width: 200px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 0.8rem;
    background-color: #ff7900;
    color: var(--accent1-color);
    font-weight: 700;
    font-family: var(--paragraph-font);
    box-shadow: 2px 4px 16px 4px var(--paragraph-color);
}