@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Oswald:wght@300;400;700&display=swap');

:root {
    --primary-color: #3993DD;
    --secondary-color: #ff7900;
    --accent1-color: #EFEFF0;
    --accent2-color: #102B3F;
    --heading-font: Oswald, sans-serif;
    --default-font: Montserrat, sans-serif;
    --nav-background-color: var(--accent1-color);
    --nav-link-color: var(--accent2-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--primary-color);
}

body {
    font-family: var(--default-font);
    max-width: 960px;
    padding: 20px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--accent2-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 24px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}