* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 20px;
    display: block;
}

h1 {
    margin: 1rem 0 1rem 0;
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 0.5rem 0.5rem; 
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

main ul {
    clear: both;
    list-style: none;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    position: absolute;
    top: 24px;
    left: 88px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

main, aside, footer {
    margin: 0 1rem 0 1rem;
}

/* Class Selectors */

.box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    color: #333;
    background-color: #eee;
}